In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler,Normalizer,StandardScaler

## Question1

In [2]:
main_df = pd.read_csv('Data.csv', skiprows=2)
main_df.drop(['1'], axis=1, inplace=True)
main_df

,CountryName,CountryCode,Population growth,Total population,Area (sq. km),International Visitors,Coronavirus Cases
0,Brazil,BRA,0.817556,2.076529e+08,8358140.0,B,59324
1,Switzerland,CHE,1.077221,8.372098e+06,39516.0,B,29061
2,Germany,DEU,1.193867,8.266768e+07,348900.0,A,156727
3,Denmark,DNK,0.834638,NaN,42262.0,B,8575
4,Spain,ESP,-0.008048,4.644396e+07,500210.0,A,223759
5,France,FRA,0.407491,6.689611e+07,547557.0,A,161488
6,Japan,JPN,-0.115284,1.269945e+08,364560.0,B,13231
7,Greece,GRC,-0.687543,1.074674e+07,128900.0,C,2506
8,Iran,IRN,1.148789,8.027743e+07,1628760.0,D,90481
9,Kuwait,KWT,2.924206,4.052584e+06,NaN,C,3075
10,Morocco,MAR,NaN,3.527679e+07,446300.0,C,4047
11,Nigeria,NGA,2.619034,1.859896e+08,910770.0,D,1182
12,Qatar,QAT,3.495070,2.569804e+06,11610.0,B,10287
13,Sweden,SWE,NaN,9.903122e+06,407310.0,C,18640
14,India,IND,1.148215,1.324171e+09,2973190.0,B,26917

In [8]:
S_Imputer = SimpleImputer()
df1= main_df.iloc[:,2:5]
df1 = pd.DataFrame(S_Imputer.fit_transform(df1), columns=['Population growth','Total population','Area (sq. km)'])

In [3]:
knn_Imputer = KNNImputer(n_neighbors=5)
df1 = main_df.iloc[:,2:5]
df1 = pd.DataFrame(knn_Imputer.fit_transform(df1), columns=['Population growth','Total population','Area (sq. km)'])
# Update main_df
main_df.iloc[:,2:5] = df1
df1

    Population growth  Total population  Area (sq. km)
0            0.817556      2.076529e+08      8358140.0
1            1.077221      8.372098e+06        39516.0
2            1.193867      8.266768e+07       348900.0
3            0.834638      2.168178e+07        42262.0
4           -0.008048      4.644396e+07       500210.0
5            0.407491      6.689611e+07       547557.0
6           -0.115284      1.269945e+08       364560.0
7           -0.687543      1.074674e+07       128900.0
8            1.148789      8.027743e+07      1628760.0
9            2.924206      4.052584e+06       125919.6
10           0.324752      3.527679e+07       446300.0
11           2.619034      1.859896e+08       910770.0
12           3.495070      2.569804e+06        11610.0
13           1.528718      9.903122e+06       407310.0
14           1.148215      1.324171e+09      2973190.0

In [5]:
label=LabelEncoder()
df2 = main_df.iloc[:,:]
df2['CountryCode'] = label.fit_transform(df2['CountryCode'])
df2['International Visitors'] = label.fit_transform(df2['International Visitors'])
# Update main_df
main_df = df2
main_df

,CountryName,CountryCode,Population growth,Total population,Area (sq. km),International Visitors,Coronavirus Cases
0,Brazil,0,0.817556,2.076529e+08,8358140.0,1,59324
1,Switzerland,1,1.077221,8.372098e+06,39516.0,1,29061
2,Germany,2,1.193867,8.266768e+07,348900.0,0,156727
3,Denmark,3,0.834638,2.168178e+07,42262.0,1,8575
4,Spain,4,-0.008048,4.644396e+07,500210.0,0,223759
5,France,5,0.407491,6.689611e+07,547557.0,0,161488
6,Japan,9,-0.115284,1.269945e+08,364560.0,1,13231
7,Greece,6,-0.687543,1.074674e+07,128900.0,2,2506
8,Iran,8,1.148789,8.027743e+07,1628760.0,3,90481
9,Kuwait,10,2.924206,4.052584e+06,125919.6,2,3075
10,Morocco,11,0.324752,3.527679e+07,446300.0,2,4047
11,Nigeria,12,2.619034,1.859896e+08,910770.0,3,1182
12,Qatar,13,3.495070,2.569804e+06,11610.0,1,10287
13,Sweden,14,1.528718,9.903122e+06,407310.0,2,18640
14,India,7,1.148215,1.324171e+09,2973190.0,1,26917

In [7]:
df3 = main_df.iloc[:,:]
min_max_T = MinMaxScaler()
pd.DataFrame(min_max_T.fit_transform(df3[['Population growth','Total population','Coronavirus Cases', 'Area (sq. km)']]), 
             columns=['Population growth','Total population','Coronavirus Cases', 'Area (sq. km)'])

    Population growth  Total population  Coronavirus Cases  Area (sq. km)
0            0.359846          0.155178           0.261222       1.000000
1            0.421929          0.004390           0.125256       0.003343
2            0.449817          0.060607           0.698837       0.040411
3            0.363930          0.014461           0.033215       0.003672
4            0.162457          0.033198           1.000000       0.058539
5            0.261806          0.048673           0.720227       0.064212
6            0.136818          0.094147           0.054134       0.042287
7            0.000000          0.006187           0.005949       0.014053
8            0.439039          0.058798           0.401205       0.193751
9            0.863515          0.001122           0.008505       0.013695
10           0.242024          0.024748           0.012872       0.052080
11           0.790553          0.138786           0.000000       0.107729
12           1.000000          0.000000           0.040907       0.000000
13           0.529875          0.005549           0.078436       0.047409
14           0.438902          1.000000           0.115623       0.354828

In [37]:
normal_T = Normalizer()
pd.DataFrame(normal_T.fit_transform(df3[['Population growth','Total population','Coronavirus Cases', 'Area (sq. km)']]), 
             columns=['Population growth','Total population','Coronavirus Cases', 'Area (sq. km)'])

    Population growth  Total population  Coronavirus Cases  Area (sq. km)
0        3.933941e-09          0.999191           0.000285       0.040218
1        1.286658e-07          0.999983           0.003471       0.004720
2        1.444160e-08          0.999989           0.001896       0.004220
3        3.849480e-08          0.999998           0.000395       0.001949
4       -1.732739e-10          0.999930           0.004817       0.010769
5        6.091179e-09          0.999964           0.002414       0.008185
6       -9.077849e-10          0.999996           0.000104       0.002871
7       -6.397224e-08          0.999928           0.000233       0.011993
8        1.430728e-08          0.999794           0.001127       0.020285
9        7.212176e-07          0.999517           0.000758       0.031056
10       9.205086e-09          0.999920           0.000115       0.012650
11       1.408144e-08          0.999988           0.000006       0.004897
12       1.360028e-06          0.999982           0.004003       0.004518
13       1.542367e-07          0.999153           0.001881       0.041095
14       8.671172e-10          0.999997           0.000020       0.002245

In [36]:
standard_T = StandardScaler()
pd.DataFrame(standard_T.fit_transform(df3[['Population growth','Total population','Coronavirus Cases', 'Area (sq. km)']]), 
             columns=['Population growth','Total population','Coronavirus Cases', 'Area (sq. km)'])

    Population growth  Total population  Coronavirus Cases  Area (sq. km)
0           -0.265443          0.187332           0.078032       3.489602
1           -0.032864         -0.434106          -0.361669      -0.522168
2            0.071614         -0.202422           1.493232      -0.372964
3           -0.250143         -0.392601          -0.659316      -0.520844
4           -1.004926         -0.315382           2.467161      -0.299992
5           -0.632733         -0.251604           1.562406      -0.277159
6           -1.100976         -0.064193          -0.591668      -0.365411
7           -1.613541         -0.426701          -0.747495      -0.479062
8            0.031239         -0.209876           0.530722       0.244266
9            1.621459         -0.447576          -0.739228      -0.480499
10          -0.706841         -0.350206          -0.725105      -0.325991
11           1.348119          0.119778          -0.766732      -0.101994
12           2.132775         -0.452200          -0.634442      -0.535626
13           0.371537         -0.429331          -0.513079      -0.344795
14           0.030724          3.669089          -0.392820       0.892636

In [8]:
Min_corona = np.min(main_df['Coronavirus Cases'])
Max_corona = np.max(main_df['Coronavirus Cases'])
array_T = min_max_T.fit_transform(main_df[['Population growth','Total population', 'Area (sq. km)','Coronavirus Cases']])
array_main_df = main_df.to_numpy()
array_main_df[:,2:5] = array_T[:,0:3]
array_main_df[:,6] = array_T[:,3]
array_main_df
#Update main_df 
main_df = pd.DataFrame(array_main_df, columns=main_df.columns)
main_df['Population growth'] = main_df['Population growth'].astype('float')
main_df['Total population'] = main_df['Total population'].astype('float')
main_df['Area (sq. km)'] = main_df['Area (sq. km)'].astype('float')
main_df['Coronavirus Cases'] = main_df['Coronavirus Cases'].astype('float')
main_df

,CountryName,CountryCode,Population growth,Total population,Area (sq. km),International Visitors,Coronavirus Cases
0,Brazil,0,0.359846,0.155178,1.000000,1,0.261222
1,Switzerland,1,0.421929,0.004390,0.003343,1,0.125256
2,Germany,2,0.449817,0.060607,0.040411,0,0.698837
3,Denmark,3,0.363930,0.014461,0.003672,1,0.033215
4,Spain,4,0.162457,0.033198,0.058539,0,1.000000
5,France,5,0.261806,0.048673,0.064212,0,0.720227
6,Japan,9,0.136818,0.094147,0.042287,1,0.054134
7,Greece,6,0.000000,0.006187,0.014053,2,0.005949
8,Iran,8,0.439039,0.058798,0.193751,3,0.401205
9,Kuwait,10,0.863515,0.001122,0.013695,2,0.008505
10,Morocco,11,0.242024,0.024748,0.052080,2,0.012872
11,Nigeria,12,0.790553,0.138786,0.107729,3,0.000000
12,Qatar,13,1.000000,0.000000,0.000000,1,0.040907
13,Sweden,14,0.529875,0.005549,0.047409,2,0.078436
14,India,7,0.438902,1.000000,0.354828,1,0.115623

In [61]:
df4 = main_df
Q1 = df4[['Population growth','Total population','Area (sq. km)']].quantile(0.25)
Q3 = df4[['Population growth','Total population','Area (sq. km)']].quantile(0.75)
IQR = Q3 - Q1
df4[((df4[['Population growth','Total population','Area (sq. km)']] > Q3 + IQR*1.5) | 
     (df4[['Population growth','Total population','Area (sq. km)']] < Q1 - IQR*1.5))]
# Update main_df
main_df = df4[((df4[['Population growth','Total population','Area (sq. km)']] <= Q3 + IQR*1.5) & 
     (df4[['Population growth','Total population','Area (sq. km)']] >= Q1 - IQR*1.5)).all(axis=1)]
main_df

,CountryName,CountryCode,Population growth,Total population,Area (sq. km),International Visitors,Coronavirus Cases
1,Switzerland,1,0.421929,0.004390,0.003343,1,0.125256
2,Germany,2,0.449817,0.060607,0.040411,0,0.698837
3,Denmark,3,0.363930,0.014461,0.003672,1,0.033215
4,Spain,4,0.162457,0.033198,0.058539,0,1.000000
5,France,5,0.261806,0.048673,0.064212,0,0.720227
6,Japan,9,0.136818,0.094147,0.042287,1,0.054134
7,Greece,6,0.000000,0.006187,0.014053,2,0.005949
8,Iran,8,0.439039,0.058798,0.193751,3,0.401205
10,Morocco,11,0.242024,0.024748,0.052080,2,0.012872
11,Nigeria,12,0.790553,0.138786,0.107729,3,0.000000
13,Sweden,14,0.529875,0.005549,0.047409,2,0.078436

In [9]:
import statsmodels.formula.api as smf
from statsmodels.tools.eval_measures import rmse

In [11]:
lm = smf.ols('Q("Coronavirus Cases") ~ Q("Population growth")+Q("Total population")+Q("Area (sq. km)")',data=main_df).fit()
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                              OLS Regression Results
==================================================================================
Dep. Variable:     Q("Coronavirus Cases")   R-squared:                       0.104
Model:                                OLS   Adj. R-squared:                 -0.140
Method:                     Least Squares   F-statistic:                    0.4262
Date:                    Tue, 04 Aug 2020   Prob (F-statistic):              0.738
Time:                            12:03:24   Log-Likelihood:                -2.8540
No. Observations:                      15   AIC:                             13.71
Df Residuals:                          11   BIC:                             16.54
Df Model:                               3
Covariance Type:                nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                  0.3935      0.178      2.206      0.050       0.001       0.786
Q("Population growth")    -0.3514      0.332     -1.060      0.312      -1.081       0.378
Q("Total population")     -0.1333      0.391     -0.341      0.739      -0.994       0.727
Q("Area (sq. km)")         0.0715      0.383      0.187      0.855      -0.771       0.914
==============================================================================
Omnibus:                        3.441   Durbin-Watson:                   2.085
Prob(Omnibus):                  0.179   Jarque-Bera (JB):                2.162
Skew:                           0.927   Prob(JB):                        0.339
Kurtosis:                       2.856   Cond. No.                         5.70
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [12]:
from sklearn.linear_model import LinearRegression

In [14]:
X = main_df.iloc[:, 2:5].values
Y = main_df.iloc[:, 6].values
lm = LinearRegression()
lm.fit(X,Y)
lm.coef_

array([-0.35138863, -0.1333132 ,  0.07151474])

In [99]:
Predicted = lm.predict(main_df[['Population growth','Total population','Area (sq. km)']])
Predicted = Predicted.apply(lambda x: x*(Max_corona-Min_corona) + Min_corona)
main_corona = main_df['Coronavirus Cases'].apply(lambda x: x*(Max_corona-Min_corona)+ Min_corona)
RMSE = rmse(main_corona, Predicted)
pow(RMSE,2)

10032800065.171135

In [29]:
df6 = main_df[['Total population','Coronavirus Cases']]
df6

    Total population  Coronavirus Cases
0           0.000000           0.125256
1           0.418290           0.698837
2           0.074935           0.033215
3           0.214347           1.000000
4           0.329495           0.720227
5           0.667853           0.054134
6           0.013369           0.005949
8           0.151475           0.012872
10          0.008620           0.078436

In [9]:
from sklearn.linear_model import LinearRegression

In [30]:
df6['T_P_2']=df6['Total population'].apply(lambda x: pow(x,2))
df6

c:\dev\python\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

    Total population  Coronavirus Cases     T_P_2
0           0.000000           0.125256  0.000000
1           0.418290           0.698837  0.174966
2           0.074935           0.033215  0.005615
3           0.214347           1.000000  0.045945
4           0.329495           0.720227  0.108567
5           0.667853           0.054134  0.446028
6           0.013369           0.005949  0.000179
8           0.151475           0.012872  0.022945
10          0.008620           0.078436  0.000074

In [92]:
X = df6[['T_P_2', 'Total population']]; Y = df6[['Coronavirus Cases']]
lm2 = LinearRegression()
lm2.fit(X,Y)
pd.DataFrame(np.concatenate((lm2.coef_, lm2.intercept_), axis=None), index=['X^2','X','Intercept'], columns=['Parameters'])

           Parameters
X^2         -6.103689
X            4.264761
Intercept   -0.041403

In [41]:
lm2.intercept_

array([-0.0414025])